


/* HEADER */

.main-header {
    color: white;
    background-color: black;
    display: flex;
    padding: 16px 0;
}

.main-header_content {
    max-width: 1050px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    justify-content: space-between;

}

.header-title {
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.25rem;
}

.header-links {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.header-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.875rem; /* 14px */
    letter-spacing: 1px;
}

.header-links a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}


/* BODY */

html, body {
    height: 100%;
    font-family: Helvetica, sans-serif;
    background-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
}

.page-body {
    padding: 48px 0;
    flex: 1;
}


/* PAGE CONTENT */

.page-title {
    font-weight: normal;
    font-size: 2rem; /* 32px */
    margin: 24px 0;
}

.page-body {
    max-width: 1050px;
    margin: 0 auto;
    padding: 16px 24px;
    width: 100%;
}


/* FOOTER */

footer {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    font-weight: normal;
}