<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog Express</title>
        <link rel="stylesheet" href="/asset/css/reset.css" />
        <link rel="stylesheet" href="/asset/css/style.css" />
    </head>
    <body>
        <!-- Document Header / Site Header -->
        <header class="main-header">
            <div class="main-header_content">
                <h1 class="header-title">Blog Express</h1>
                <!-- include the header-links component -->
                <%- include('../components/header-links.html') %>
            </div>
        </header>

        <!-- Document content / Main content -->
        <div class="main-content"></div>
    </body>
</html>
