<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog Express</title>
        <link rel="stylesheet" href="asset/style.css" />
    </head>
    <body>
        <!-- Document Header / Site Header -->
        <header class="main-header">
            <h1>My WebSite</h1>

            <!-- include the menu component -->
            <%- include('../components/menu.html') %>
        </header>

        <!-- Document content / Main content -->
        <div class="main-content"></div>
    </body>
</html>
